
* {
    font-size: 25px;
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;   
    font-family: "Roboto Condensed";
    
}

body {
    overflow-x: hidden; 
    width: 100%;        
}

  
.nav {
    width: auto;
    max-width: 93%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 60px;
    background-color: #0e1011;
}

#logo{
    position: absolute;
    width: 20%;
    max-width: 180px;
    min-width: 140px;
    margin-top: -181px;
    margin-left: 70px;
}


@media (max-width: 800px) {
    #logo{
        margin-top: -35%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}



.nav a {
    width: 100%;
    padding: 15px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    transition: color 0.3s ease;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: rgba(240, 248, 255, 0.996);
    transition: all 0.3s ease;
  }
  
button {
    position: flex;
    background-color: #040607;
    color: aliceblue;
    border: 2px solid rgb(240, 248, 255);
    padding: 15px;
    cursor: pointer;
    transition: 0.3s ease;    
}

.nav a:hover {
    color: #909000;
}
  

button:hover {
    background-color: #00000057;
}

#glob {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171a1c;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    
}
  
.slider {
    margin: 350 20 -5 15;
    padding: 0;
    width: 850px;
    height: 900px;
    overflow: hidden;  
}
  
.slides {
    margin: 0;
    width: 400%;
    height: 550px;
    display: flex;
}
  
.slides input {
    display: none;
}
  
.slide {
    width: 25%;
    position: relative;
    transition: 3s;
}

.slide img {
    margin: 0;
    width: 100%;
    height: 100%;
}
  
.manual-navigation {
    position: absolute;
    width: 900px;
    margin-top: -65px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
.manual-btn {
    
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}


#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}
  
#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 900px;
    margin-top: 485px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #ffffff00;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #ffffff00;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #ffffff00;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #ffffff00;
}


#Sobre {
    display: flex;
    justify-content: center;
    background-color: #171a1c;
    width: 100%;
    height: 90%;
    gap: 60px;
}
  

#ps {
    line-height: 1.6;
    text-align: center;
    border: 2px solid;
    margin-top: 0px;
    margin-right: 30px;
    font-size: 22px;
    color: #ffffff;
    width: 75%;
    max-width: 700px;
    height: 60%;
    background-color: #ffffff11;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: 20px; 
}

#img-sobre{
    width: auto;
    width: 700px;
    max-width: 70%;
    border-radius: 20px;
}

#Localização {
    background-color: #171a1c;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    
}


#loc {
    line-height: 1.6;
    margin-top: 69px;
    margin-left: 30px;
    font-size: 22px;
    color: #ffffff;
    border: 2px solid;
    width: 75%;
    max-width: 400px;
    height: 60%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    background-color: #ffffff11;
}
  

#Contato {
    background-color: #171a1c;
    color: #ffffff;
    text-align: center;
    padding: 60px 20px;
}
  
  .contact-wrapper {
      max-width: 900px;
    margin: 0 auto;
    animation: 1.5s ease;
  }
  
  #cont {
      font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contact-text {
    font-size: 18px;
    margin-bottom: 40px;
    color: #d3d3d3;
    line-height: 1.6;
  }
  
  .social-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .social-button {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    transition:  0.3s ease,  0.3s ease;
    position: relative;
    overflow: hidden;
}
  
.social-button img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.social-button.whatsapp {
    background: #25D366;
}

  .social-button.instagram {
    background: #E1306C;
  }
  
  .social-button:hover {
      transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.963);
  }
  
  .social-button span {
    z-index: 2;
  }
  
  .social-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: skewX(-45deg);
    transition: left 0.5s ease;
  }
  
  .social-button:hover::before {
      left: 100%;
  }
  
  
  @keyframes fadeIn {
      from {
          opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  

#mapa{
    margin-top: 70px;
    float: right;
    margin-right: 40px;
   
}

#titulo{
    width: 100%;
    height: 40%;
    background-color: #171a1c;
}

#clientes{
    font-family:'Poppins', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    background-color: #171a1c;
    font-size: 60px;
    padding: 80;
    margin-top: -60px;
}

#destaque{
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    color: #909000;
    font-size: 60px;
    background-color: #171a1c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
}


#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #171a1c;
}

.box {
    display: flex;              
    flex-direction: column;      
    align-items: center;         
    justify-content: center;     
    width: 200px; 
    padding: 30px;               
    border: 2px solid ;      
    border-radius: 10px;        
    background-color: #f9f9f9f0;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;         
    margin: 10px;
}

#foto-cliente {
    display: flex;               
    justify-content: center;     
    align-items: center;         
    max-width: 100%;            
    max-height: 100%;             
    border-radius: 50%;         
    margin-bottom: 45px;         
    object-fit: cover;
}

.box h2 {
    margin-top: 30px;            
    margin-bottom: 40%;            
    font-size: 50px;
}


/* Responsividade */
@media screen and (max-width: 768px) {

    body {
        max-width: 768px;
    }

    #logo{
        margin-top: -140px;
    }

    .menu-toggle {
      display: flex;
      margin-top: 0px;
    }
    
    .button-container {
      display: none;
      flex-direction: column;
      background-color: #0e1011;
      position: absolute;
      width: 100%;
      padding: 5px;
      border: 1px solid aliceblue;
      margin-top: 80px;
      margin-right: -60px;
      z-index: 1;
    }
    
    .button-container.show {
      display: flex;
      align-content: center;
    }
    
    .button-container button {
      margin: 10px 0px 0px 5px;
    }
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .slider {
        width: 100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 20%;
        margin-left: 25px;
    }

    #ps, #loc {
        text-align: center;
        font-size: 19px;
        width: 85%;
    }

    #ps {
        margin-top: 55px;
        margin-left: 30px;
        order: 1; 
    }

    #img-sobre {
        order: 2; 
        margin-bottom: 45px;
    }
    
    #loc {
        margin-top: 125%;
        padding: 30px;
        width: 100%;
        height: 100%;
        margin-right: 30px;
    }
    
    #Sobre, #Localização {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
    }

    #img-sobre, #mapa {
        height: 100%;
        width: 100%; 
    }

    #img-sobre {
        margin-top: 0px; 
    }
    
    #mapa {
        margin-bottom: 100%;
        margin-left: 8.2%;
    }
    
    #glob {
        height: auto;
        padding: 10px;
    }

    #cont {
        font-size: 25px;
    }

    #links img {
        width: 100px;
        height: 50px;
    }

    nav button {
        width: 100%;
        margin-top: 10px;
    }
    
    #clientes {
        font-size: 40px;
        text-align: center;
        margin: -1px 0px;
    }

    #destaque {
        margin: -75px 160px 50px 160px;
        font-size: 40px;
        display: flex;
    }
}

